@import './mapmaker/tiles.scss';

.application-grid {
    display: grid;
    grid-template-areas:
    'menu map map map properties'
    'menu map map map properties'
    'tiles tiles tiles tiles tiles';
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}



.mapmaker-grid {
    display: grid;
    grid-template-columns: [menu] 325px [main]3fr [properties] 325px[end];
    grid-template-rows: 932px 1fr;
    grid-template-areas: 
    'menu main  properties'
    'tiles tiles tiles';
    width: 100vw;
    height: 100vh;

    > * {
        padding: 12px;
    }
}

.grid-map {
    grid-area: main;
}

.properties {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}




